import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import itertools
from sklearn import tree, svm
from sklearn.model_selection import cross_val_score
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm